<div class="statusPage-widget">
  <a href="http://status.getweave.com/" target="_blank">
    <h3>System Status: </h3>
    <div class="status-description"></div>
    <div class="clear"></div>
  </a>
</div>

    <div class="moduleDisplay">

      <a ui-sref="directory"><div class="weaveDirectory">
        <h2>Weave Employee Directory</h2>
        <p>
          Please click here to view employee contact information.
        </p>
      </div></a>

      <a ui-sref="helpdesk"><div class="weaveHelpDesk">
        <h2>Weave Help Desk</h2>
        <p>
          Need to submit an internal IT help ticket?  Click here!
        </p>
      </div></a>

      <a ui-sref="hrportal"><div class="weaveHR">
        <h2>Weave HR Portal</h2>
        <p>
          Need some company / HR info?  Check out the HR Portal!
        </p>
      </div></a>

      <a ui-sref="supportportal"><div class="supportPortal">
        <h2>Weave Support Portal</h2>
        <p>
          Find tools to help our customers here.
        </p>
      </div></a>

      <a ui-sref="weaveinsights"><div class="weaveinsights">
        <h2>Weave Insights</h2>
        <p>
          Gain insights into knowledge accross company departments.
        </p>
      </div></a>

      <a ui-sref="messagethefounders"><div class="messageTheFounders">
        <h2>Message The Founders</h2>
        <p>
          Want to share a concern or frustration with company founders annonymously?  Click here!
        </p>
      </div></a>

      </div>

    </div>
