<div class="messageTheFoundersWrapper">
  <h1>Message The Founders</h1>
  <p>
    Send an annonymous message directly to the founding team of Weave.
  </p>
  <hr>

   <form name="messageTheFounders">
     <div class="form-group">
       <label for="name">Employee Name (if desired) </label>
       <input type="text" name="name" />
     </div>

     <div class="form-group">
       <label for="email">Employee E-mail address (if desired)</label>
       <input type="email" name="email" />
     </div>

     <div class="form-group">
       <label for="comments">Description</label>
       <textarea name="comments" class="form-control"></textarea>
     </div>

     <button class="btn btn-default">Submit</button>
   </form>
 </div>
